/* ~/puf-wallet-frontend/src/app/globals.css */
@import '@solana/wallet-adapter-react-ui/styles.css';
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
  }
}

body {
  background-image: url('/images/bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.dark body {
  background-image: url('/images/bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 10px; 
  background: linear-gradient(to right, hsl(0, 100%, 5%), hsl(12, 100%, 50%));
  outline: none;
  border-radius: 15px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px; /* Large thumb for easy sliding */
  height: 60px;
  background: #00ff00;
  border: 4px solid black; /* Matches your border style */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #00ff00;
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.slider::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #00ff00;
  border: 4px solid black;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.slider::-webkit-slider-runnable-track {
  height: 30px;
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 50%));
  border-radius: 15px;
}

.slider::-moz-range-track {
  height: 30px;
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 50%));
  border-radius: 15px;
}

.slider::-ms-track {
  height: 30px;
  background: linear-gradient(to right, hsl(0, 0%, 0%), hsl(0, 100%, 50%));
  border-radius: 15px;
  color: transparent; /* Hide default track fill */
}

/* Remove number input spinners */
input.no-spinner[type="number"]::-webkit-inner-spin-button,
input.no-spinner[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

